.asideMenu {
  position: fixed;
  background-color: #f4f4f4;
  width: 350px;
  height: 100vh;
  box-shadow: -1px 0px 36px 7px rgba(161, 161, 161, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  margin: 4rem 0;
  font-size: 2.8rem;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
}

.links li {
  font-size: 1.8rem;
  list-style-type: none;
  padding-left: 4rem;
  display: flex;
  align-items: center;
  height: 50px;
  transition: background 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.links li:hover {
  background-color: #fff;
}

.active {
  background-color: #fff;
}

.linksFlex {
  display: flex;
  align-items: center;
}

.links li img {
  margin-right: 15px;
}

.links a {
  text-decoration: none;
  color: #000;
  flex-basis: 100%;
}

.loginBtn {
  font-size: 1.8rem;
  padding-left: 4rem;
  margin-bottom: 30px;
}

.loginBtn a {
  text-decoration: none;
  color: #000;
  transition: color 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.loginBtn a:hover {
  color: #4d4d4d;
  text-decoration: underline;
}

.loginBtn img {
  margin-right: 15px;
}

.burgerMenu {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.484);
  border: none;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  z-index: 10000;
  cursor: pointer;
}

.burgerMenu button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.burgerMenu img {
  width: 100%;
  height: 100%;
}

.asideMenuMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  z-index: 999;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.5s;
}

.menuVisible {
  transform: translateX(0%);
}

.asideMenuMobile .heading {
  width: 100%;
}

.asideMenuMobile .loginBtn {
  margin-top: 10px;
}

.asideMenuMobile .links li:hover {
  background-color: #fff;
}

.active {
  background-color: #fff;
}

@media only screen and (max-width: 1185px) {
  .asideMenu {
    width: 250px;
  }
}
