.goBackBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35px;
  height: 35px;
}

.goBackBtn img {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 150px 0;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 50px;
  height: 500px;
}

.heading {
  color: black;
  font-size: 4rem;
  margin-bottom: 70px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  height: 50px;
  width: 400px;
  padding-left: 1.5rem;
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  border: 1px solid rgb(91, 91, 91);
}

.formInput.error {
  border: 1px solid red;
  outline: red;
  color: red;
  margin-bottom: 3px;
}

.formInput.error::placeholder {
  color: red;
}

.textError {
  width: 100%;
  font-size: 1.3rem;
  text-align: left;
  color: red;
  margin-bottom: 15px;
}

.button {
  margin-top: 10px;
  height: 5rem;
  width: 15rem;
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 1.8rem;
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
  background-color: #141414;
}

.register {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  font-size: 1.7rem;
}

.link {
  margin-left: 5px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 570px) {
  .container {
    display: block;
    height: 100vh;
    padding: 70px 0;
  }
  .card {
    background-color: transparent;
    border-radius: 0;
    padding: 0 30px;
  }
  .formInput {
    width: 100%;
  }
}
